form div {
  display: flex;
  justify-content: space-evenly;
}

div.action {
  display: flex;
  justify-content: flex-end !important;
}

button {
  margin-right: 20px;
}

.header-create-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-create-user h1 {
  margin: 20px 0;
}
