#users-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.title-list {
  margin: 20px 0;
}
.header-list {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

table {
  width: 75vw;
}

.mat-icon {
  cursor: pointer;
}

.mat-row:hover {
  background-color: rgba(255, 68, 0, 0.657);
  color: white;
  cursor: pointer;
}
